@import "../../styles/_mixin";

.footer {
  @include font("Roboto", normal, 400, 14px, 16px, #ffffff);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 200px;

  background: #141414;

  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 32px;
    margin-bottom: 18px;

  }
}