@use "./styles/_reset";
@use "styles/_fonts";

$alternative-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';

body {
  margin: 0;
  font-family: OrchideaPro-Medium, OrchideaPro-MediumItalic, Manrope, $alternative-fonts ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}